# ignore data
data/
*.sav
*.dta

# ignore google documents
*.gdoc

# R / RStudio
.Rproj.user/
*.Rproj
.Rhistory
.RData

# system
.DS_Store
.Rproj.user
.Rdata
.httr-oauth
.quarto

# ignore Gronke's local sandbox
 # gronkesandbox/
